/* Canvas */

.canvas-container {
    margin: 10px auto;
    height: 67vh;
    width: 67vh;
}

canvas {
    border-radius: 2rem;
}

@media (max-width: 590px) {
    .canvas-container {
        display: flex;
        justify-content: center;
        height: 45vh;
        width: 45vh;
    }
    canvas {
        height: 45vh;
        width: 45vh;
    }
}
/* @media (min-width: 590px) { */

/* } */