/* Header */

.page-header {
    height: 15vh;
    border-radius: 50px;
    top: 0;
    color: wheat;
    width: 100%;
    padding: 0 2rem;
    background: linear-gradient(0.25turn, #4f89c0, #37a870);
}
.logo {
    height: 2rem;
    width: 10rem;
    cursor: pointer;
}
.nav-bar {
    gap: 3rem;
    text-decoration: none;
}