/* Mems Container */

@media (max-width: 590px) {
    .memes-container {
        width: 90vw;
        margin: 0 auto 25px;
        flex-wrap: wrap;
        gap: 1vh;
        padding: 2vh;
    }
}

@media (min-width: 590px) {
    .memes-container {
        width: 90vw;
        margin: 0 auto 25px;
        flex-wrap: wrap;
        gap: 1vh;
        padding: 2vh;
    }
}