/* Font Faces */

@font-face {
    font-family: poppins;
    src: url(../../Fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: semiBold-poppins;
    src: url(../../Fonts/Poppins-SemiBold.ttf);
}